.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

app-data-controller {
  width: 95vw;
  margin-top: 2.5rem;

  margin-bottom: 2.5rem;
}

.router {
  width: 95vw;
}
