.container {
  display: flex;
  background: darkgrey;
  height: 100%;
  width: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header, footer {
  background: royalblue;
  height: 4rem;
  width: 100%;
}

.summary, .charts {
  height: 40%;
  width: 90%;
  background: white;
}
