#lineChart {
  display: block;
  height: 95%;
}

#lineChartCanvas {
  max-height: 75vh;
}

mat-card-title {
  text-align: center;
  margin-bottom: 1rem;
}

mat-card {
  width: 60vw;
  display: inline-block;
  height: 60vh;
}


