#pieChart {
  display: block;
  height: 90%;
}

#pieChartCanvas {
  max-height: 300px;
}

mat-card {
  width: 30vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

mat-card-title {
  margin-bottom: 1rem;
  text-align: center;
}

.pie-controls {
  margin-top: 1rem;
}

mat-slider {
  width: calc(100% - 110px);
}
